<div class="app flex flex-column">
  <header class="p-4 surface-50 border-round-md border-1 border-200 flex justify-content-center align-items-center">
    <h1 class="flex-grow-1 text-4xl m-0 text-center">Functional Table</h1>
    <p-button class="flex flex justify-content-end"
              [icon]="isDarkMode ? 'pi pi-sun' : 'pi pi-moon'"
              [outlined]="true"
              (click)="toggle()">
    </p-button>
  </header>

  <main class="py-4 flex-grow-1">
    <app-user-table></app-user-table>
  </main>

  <footer class="p-2 surface-50 border-round-md border-1 border-200">
    <div class="text-center">
      <p class="text-sm mb-2 text-600">This project was created for test task</p>
      <div class="flex align-items-center justify-content-center gap-2 flex-wrap">
        <span class="text-600">Main Dependencies:</span>
        <p-tag severity="danger" value="Angular 19.2.0"></p-tag>
        <p-tag severity="secondary" value="PrimeNG 19.1.2"></p-tag>
        <p-tag value="TypeScript 5.7.2"></p-tag>
        <p-tag severity="warn" value="RxJs 7.8.0"></p-tag>
        <p-tag severity="success" value="PrimeFlex 4.0.0"></p-tag>
      </div>
    </div>
  </footer>
</div>
